.todo { 
	display: flex;
	padding: .5rem;

	.title, .title_completed {
		font-size: 1.4rem;
		cursor: pointer;
	}
	.title_completed {
		text-decoration: line-through;
	}
	.date {
		font-size: 1.4rem;
		color: darkgrey;
		margin: 0 1rem;
	}
	.button {
		background: none;
		border: none;
		cursor: pointer;
		.icon {
		}
	}
}