.buttonSmallTextIconRightRounded,
.buttonSmallIconRightRounded {
    display: flex;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    background-color: plum;
}

.buttonSmallIconRightRounded {
    background-color: peru;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.text {
    margin: 0 0.25rem;
    font-size: 1.6rem;
}

.icon {
    margin: 0 0.25rem;
}
